.listitem{
	background-color: blue;
	padding: 5px;
	color:white;
	border-radius: 10px;
}
.userblock{
	background-color: #7075c8;
	color:white;
}
.singleitem{
	align-items: left;
	text-align: left;
	color:white;
	background-color: lightblue;
	border-radius: 10px
}
.userlist{
	background-color: blue;
	text-align: center;
	border-radius: 10px; 
}
.userlistitem{
	color:white;
	align-items: center;
	text-align: center;
}